<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <parameter name="url" value="https://quantra.quantinsti.com/"></parameter>
  	<parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="quantInsti.assignment.TC_OrderProcess"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
